API_VERSION={API_VERSION}
IP_SERVER={IP_SERVER}
PORT_MONGO_DB={PORT_MONGO_DB}
DB_NAME={DB_NAME}
PORT_SERVER={PORT_SERVER}

# Auth0
AUTH0_AUDIENCE={AUTH0_AUDIENCE}
AUTH0_ISSUER={AUTH0_ISSUER}

CLOUDINARY_CLOUD_NAME={CLOUDINARY_CLOUD_NAME}
CLOUDINARY_API_KEY={CLOUDINARY_API_KEY}
CLOUDINARY_API_SECRET={CLOUDINARY_API_SECRET}
